<style>
  .ace_editor_wrapper {
    position: relative;
    height: 200px
  }

  .ace_editor {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;;
  }
</style>
<script>

  $("#ace").hide();
  requirejs(
      {
        paths: {
          'ui.ace': "build/ui-ace.min"
        },
        shim: {
          'ui.ace': { deps: ['components/ace-builds/src-min-noconflict/ace.js'] }
        }
      },
      ['ui.ace'],
      function () {

        angular.module('doc.ui-ace', ['ui.ace', 'prettifyDirective'])
            .controller('AceCtrl', ['$scope', function ($scope) {
              $scope.aceModel = "Ace Hello World";
            }])
        ;
        e$ = $("#ace");
        e$.removeAttr("ng-non-bindable");

        angular.bootstrap(e$[0], ['doc.ui-ace']);
        e$.show();
        $("#ace-l").slideUp();


      }
  );
</script>

<!-- Le loading
================================================== -->

<div id="ace-l" class="loadingAnimation">
  <div class="bowl_ringG">
    <div class="ball_holderG">
      <div class="ballG">
      </div>
    </div>
  </div>
</div>

<section id="ace" ng-non-bindable ng-controller="AceCtrl">

  <div ui-ace ng-model="aceModel">Hello</div>
  <div ui-ace>World</div>


  <h3>How?</h3>
    <pre class="prettyprint">
    &lt;div ui-ace  ng-model="aceModel"&gt;Hello&lt;/div&gt;
    &lt;div ui-ace&gt;World&lt;/div&gt;

    &lt;style&gt;
      .ace_editor_wrapper { position : relative; height: 200px}

      .ace_editor {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;;
      }
    &lt;/style&gt;
    </pre>
</section>