<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>Angular UI ~ UI.Ace Doc</title>

  <!-- Le css -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="assets/css/prettify.css"/>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>

      <link rel="stylesheet" type="text/css" href="demo/demo.css"/>


</head>

<body>

<!-- Le navbar
================================================== -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="" class="navbar-brand">UI.Ace</a>
        </li>
        <li class="pull-right">
          <a href="http://angular-ui.github.io">by AngularUI</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Le header
================================================== -->
<header class="bs-header">
  <div class="container">

    <h1>UI.Ace</h1>

    <p>This directive allows you to add ACE editor elements.</p>

    <p>
      <a class="btn btn-outline-inverse btn-lg" href="https://github.com/angular-ui/ui-ace">Code on Github</a>
      <a class="btn btn-outline-inverse btn-lg" href="https://github.com/angular-ui/ui-ace/releases/tag/v0.2.3">
        <i class="glyphicon glyphicon-download-alt"></i> Download <small>(0.2.3)</small>
     </a>
    </p>
  </div>
  <div class="bs-social container">
      <ul class="bs-social-buttons list-inline list-unstyled">
          <li>
              <iframe
            src="http://ghbtns.com/github-btn.html?user=angular-ui&amp;repo=ui-ace&amp;type=watch&amp;count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
          </li>
          <li>
             <iframe
            src="http://ghbtns.com/github-btn.html?user=angular-ui&amp;repo=ui-ace&amp;type=fork&amp;count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
          </li>
          <li>
              <a href="https://twitter.com/share" class="twitter-share-button"
                 data-hashtags="angularjs">Tweet</a>
              <script>!function (d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (!d.getElementById(id)) {
                      js = d.createElement(s);
                      js.id = id;
                      js.src = "//platform.twitter.com/widgets.js";
                      fjs.parentNode.insertBefore(js, fjs);
                  }
              }(document, "script", "twitter-wjs");</script>
          </li>
          <li>
              <!-- Place this tag where you want the +1 button to render. -->
              <div class="g-plusone" data-size="medium"></div>

              <!-- Place this tag after the last +1 button tag. -->
              <script type="text/javascript">
                  (function () {
                      var po = document.createElement('script');
                      po.type = 'text/javascript';
                      po.async = true;
                      po.src = 'https://apis.google.com/js/plusone.js';
                      var s = document.getElementsByTagName('script')[0];
                      s.parentNode.insertBefore(po, s);
                  })();
              </script>
          </li>
      </ul>
  </div>
</header>

<!-- Le main
================================================== -->
<div class="container">

  <section id="aces" ng-app="doc.ui-ace" ng-cloak >

<!-- =Minimal code
--------------------------------------------------------------------------- -->
<div id="demo-mini">
  <div class="page-header">
    <h1>Minimal code</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div >
        <div ui-ace>Ace here</div>
      </div>
    </div>

    <div class="col-md-6" ng-controller="PlunkerCtrl"
         ng-init="
  vendor_js=['https://rawgithub.com/ajaxorg/ace-builds/v1.1.1/src-min-noconflict/ace.js'];
    "
        >
      <div class="pull-right">
        <button class="btn btn-info" ng-click="edit('1.3.8', 'UI.Ace', 'ui-ace')"><i
            class="icon-edit icon-white"></i> Edit in plunker
        </button>
      </div>

      <tabset>
        <tab heading="Markup">
          <div plunker-content="markup">
  <pre class="prettyprint">&lt;section&gt;
  &lt;div ui-ace &gt;Ace here&lt;/div&gt;
&lt;/section&gt;</pre>
          </div>
        </tab>
        <tab heading="CSS">
          <div plunker-content="css">
  <pre class="prettyprint">.ace_editor  {
  height : 200px;
}
  </pre>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<!-- =General options demo
--------------------------------------------------------------------------- -->
<div id="demo-general">
  <div class="page-header">
    <h1>General options</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div>
        <div ui-ace="{
            useWrapMode : true,
            showGutter: false,
            theme:'twilight',
            mode: 'markdown'
          }"># Theme and mode

*Lorem ipsum* dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>

    <div class="col-md-6" ng-controller="PlunkerCtrl"
         ng-init="
vendor_js=['https://rawgithub.com/ajaxorg/ace-builds/v1.1.1/src-min-noconflict/ace.js'];
      "
        >
      <div class="pull-right">
        <button class="btn btn-info" ng-click="edit('1.3.8', 'UI.Ace', 'ui-ace')"><i
            class="icon-edit icon-white"></i> Edit in plunker
        </button>
      </div>

      <tabset>
        <tab heading="Markup">
          <div plunker-content="markup">
<pre class="prettyprint">&lt;section&gt;
    &lt;div ui-ace=&quot;{
      useWrapMode : true,
      showGutter: false,
      theme:'twilight',
      mode: 'markdown'
    }&quot; &gt;# Theme and mode

*Lorem ipsum* dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/div&gt;

&lt;/section&gt;</pre>
          </div>
        </tab>
        <tab heading="CSS">
          <div plunker-content="css">
<pre class="prettyprint">.ace_editor  {
  height : 200px;
}
</pre>
          <div style="margin-top: 260px;"></div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<!-- =Mode-Changing demo
--------------------------------------------------------------------------- -->
<div id="demo-mode-changing">
    <div class="page-header">
      <h1>Mode-Changing demo</h1>
    </div>

    <div class="row" ng-controller="AceCtrl">
      <div class="col-md-12">
        <div ui-ace="aceOption" ng-model="aceModel">Ace here</div>
      </div>
      <div class="col-md-6">
        Mode : <select class="form-control" ng-model="mode" ng-options="m for m in modes" ng-change="modeChanged()"></select>
      </div>
    </div>

<hr>

  <div ng-controller="PlunkerCtrl"
       ng-init="
vendor_js=['https://rawgithub.com/ajaxorg/ace-builds/v1.1.1/src-min-noconflict/ace.js'];
        "
      >
    <div class="pull-right">
      <button class="btn btn-info" ng-click="edit('1.3.8', 'UI.Ace', 'ui-ace')"><i
          class="icon-edit icon-white"></i> Edit in plunker
      </button>
    </div>

    <tabset>
      <tab heading="Markup">
        <div plunker-content="markup">
<pre class="prettyprint">&lt;section ng-controller=&quot;AceCtrl&quot;&gt;

  &lt;div ui-ace=&quot;aceOption&quot; ng-model=&quot;aceModel&quot;&gt;&lt;/div&gt;

  &lt;select ng-model=&quot;mode&quot; ng-options=&quot;m for m in modes&quot; ng-change=&quot;modeChanged()&quot;&gt;&lt;/select&gt;

&lt;/section&gt;</pre>
          <div style="margin-top: 390px;"></div>
        </div>
      </tab>
      <tab heading="JavaScript">
        <div plunker-content="javascript">
<pre class="prettyprint">app.controller('AceCtrl', AceCtrl);
function AceCtrl($scope) {
// The modes
  $scope.modes = [&#39;Scheme&#39;, &#39;XML&#39;, &#39;Javascript&#39;];
  $scope.mode = $scope.modes[0];


  // The ui-ace option
  $scope.aceOption = {
    mode: $scope.mode.toLowerCase(),
    onLoad: function (_ace) {

      // HACK to have the ace instance in the scope...
      $scope.modeChanged = function () {
        _ace.getSession().setMode(&quot;ace/mode/&quot; + $scope.mode.toLowerCase());
      };

    }
  };

  // Initial code content...
  $scope.aceModel = &#39;;; Scheme code in here.\n&#39; +
    &#39;(define (double x)\n\t(* x x))\n\n\n&#39; +
    &#39;&lt;!-- XML code in here. --&gt;\n&#39; +
    &#39;&lt;root&gt;\n\t&lt;foo&gt;\n\t&lt;/foo&gt;\n\t&lt;bar/&gt;\n&lt;/root&gt;\n\n\n&#39; +
    &#39;// Javascript code in here.\n&#39; +
    &#39;function foo(msg) {\n\tvar r = Math.random();\n\treturn &quot;&quot; + r + &quot; : &quot; + msg;\n}&#39;;

}</pre>
        </div>
      </tab>
      <tab heading="CSS">
        <div plunker-content="css">
<pre class="prettyprint">.ace_editor  {
  height : 300px;
}
</pre>
          <div style="margin-top: 470px;"></div>
        </div>
      </tab>
    </tabset>
  </div>
</div>


</section>


</div>

<!-- Le javascript
================================================== -->
<script src="assets/vendor/prettify.js"></script>
<script src="assets/vendor/angular.min.js"></script>
<script src="assets/vendor/ui-bootstrap-tpls.min.js"></script>
<script src="core/prettifyDirective.js"></script>
<script src="core/plunker.js"></script>
<script src="vendor/ace.js"></script>
<script src="vendor/theme-twilight.js"></script>
<script src="vendor/mode-markdown.js"></script>
<script src="vendor/mode-scheme.js"></script>
<script src="vendor/worker-javascript.js"></script>
<script src="dist/ui-ace.min.js"></script>


<script>
  'use strict';

angular.module('doc.ui-ace', ['ui.ace', 'prettifyDirective', 'ui.bootstrap', 'plunker'])
  .controller('AceCtrl', ['$scope', function ($scope) {

    // The modes
    $scope.modes = ['Scheme', 'XML', 'Javascript'];
    $scope.mode = $scope.modes[0];


    // The ui-ace option
    $scope.aceOption = {
      mode: $scope.mode.toLowerCase(),
      onLoad: function (_ace) {

        // HACK to have the ace instance in the scope...
        $scope.modeChanged = function () {
          _ace.getSession().setMode('ace/mode/' + $scope.mode.toLowerCase());
        };

      }
    };

    // Initial code content...
    $scope.aceModel = ';; Scheme code in here.\n' +
      '(define (double x)\n\t(* x x))\n\n\n' +
      '<!-- XML code in here. -->\n' +
      '<root>\n\t<foo>\n\t</foo>\n\t<bar/>\n</root>\n\n\n' +
      '// Javascript code in here.\n' +
      'function foo(msg) {\n\tvar r = Math.random();\n\treturn "" + r + " : " + msg;\n}';

  }])
;

</script>

</body>

</html>
